@use 'Mixins.scss';
@use 'Animations.scss';
@use 'Layout.scss';
@use 'Font.scss';
@use 'Colors.scss';

/* Font-Awesome */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);



html, body {
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

