/* Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

:root {
    font-family: Inter, sans-serif;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.regular {
    font-weight: normal;
}