@import '../Colors.scss';
@import '../Mixins.scss';

.hamburger-wrapper {
    width: 40px;

    .bar {
        width: 100%;
        height: 3px;
        background-color: $colorPrimary;
        border-radius: 20px;
        @include transition(all .2s ease);
        @include transformOrigin(left);

        &:not(:last-of-type) {
            margin-bottom: 5px;
        }
    }

    .bar:nth-child(1) {
        @include transform(scaleX(.9));
    }

    .bar:nth-child(2) {
        @include transform(scaleX(.6));
    }

    .bar:nth-child(3) {
        @include transform(scaleX(.75));
    }

    &:hover .bar {
        @include transform(scaleX(1));
    }
}