@import '../Mixins.scss';

.text-writing-wrapper {
    display: inline-block;

    > * {
        display: inline-block;
    }

    .animated-text {
        position: relative;

        &::after {
            content: ' ';
            position: absolute;
            height: 100%;
            background: black;
            width: 2px;
            margin-left: 2px;
            animation : pulse .8s linear infinite;
        }
    }
}

@keyframes pulse {
    from {
        visibility: hidden;
        opacity: 0;
    }

    20% {
        visibility: visible;
        opacity: 1;
    }

    60% {
        opacity: 1;
    }
    
    to {
        visibility: hidden;
        opacity: 0;
    }
}